//custom variables

$primary:#ec6211;

//import the functions and variables

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-color:
(
    "altlight":#f5f5f5,
    "altdark":#242435,
    "blackk":#000000
);

$theme-colors: map-merge($custom-theme-color , $theme-colors );
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';